{% extends "base.html" %}

{% block head %}

<style>
    body {
        background-image: url('/Images/about.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    h2{
        color: blueviolet;
        text-align: center;
        font-weight: bold;
    }

    p{
        color: rgb(255, 0, 179);
        text-align: center;
        font-weight: bold;
    }
</style>

{% endblock %}

{% block content %}
<main>
    <div>
        <article>
            <section>
                <h2>
                    WHO WE ARE
                </h2>
            </section>
                
            <section>
                <p>
                   We are a group of developrs participating in a Hackathon to develop a feasible platform where through our development we aim to create a product where the society can benefit when it concerns the environment as our globe is becoming more factured and volitale due to global warming.  
                </p>
            </section>
            
            <section>
                <h2>
                    THE PURPOSE
                </h2>
            </section>
                
            <section>
                <p>
                   The sole purpose of this website would to act as a medium where people can come together in order to exchange ideas and plant seeds in an effort to become more environmently concious on their day to day lives. It is an effort of preservation and conservation by creating a local environment for daily needs to mitigate and protect our planet from harm.
                </p>
            </section>

            <section>
                <h2>
                    OUR VISION
                </h2>
            </section>
                
            <section>
                <p>
                    The vision would be that people would become more aware of life choices that they can make in order to reduce the damages that it would leave on our planet. 
                </p>
            </section>

            <section>
                <h2>
                    OUR MISSION
                </h2>
            </section>
                
            <section>
                <p>
                   The mission would be that people would use the the website to share their plants so that one seed links to more seeds being planted locally and then being shared once more. The process where resource and knowledge is shared and pooled together, to create a sustainable local environment to have various plants flourish, instead of having to use Earth's resource to import / export food half way accross the world. 
                </p>
            </section>

            <section>
                <h2>
                    Disclaimer
                </h2>
            </section>
                
            <section>
                <p>
                    As per stated above regarding the origin of this website. This website has been created for educational purposes only and has not been developed for commercial use. Users should use the website at their own discretion and risk when exchanging information and interacting with other people on the internet through this medium. The creators of this page is not and will not take any liability for any incident that may occur due to the nature or misuse of this website.
                </p>
            </section>
        </article>            
    </div>        
</main>
{% endblock %}